.d-block {
  display: block !important;
}
.tooltip {
  background-color: #d70000;
  padding: 15px 30px 15px 30px;
}

.col {
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
}

.header {
  margin: 20px 50px 20px 50px !important;
}

.signUp, .signProfile {
  background-color: #151515;
  border-radius: 50px;
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: Inter;
}

.signIn, .signOut {
  background-color: #ffffff;
  border-radius: 50px;
  color: #151515;
  border: 2px solid #151515;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: Inter;
}

.nav {
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  padding-right: 15px;
  color: #151515;
}

.arrowImg {
  margin-left: auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  .tooltip {
    display: none !important;
  }
  .blogTitle{
    font-size: 24px;
    line-height: 33px;
  }
  .title{
    font-size: 20px !important;
  }
  .titleText{
    padding: 20px 10px;
        font-size: 15px;
  }
  .col {
    text-align: left;
    padding: 2px 10px;
  }
  .header {
    margin: 10px !important;
  }
  .signUp, .signProfile {
    margin-left: 0px;
  }
  .searchInput {
    width: 90%;
  }
  .brands {
    margin: 20px;
    height: auto;
    padding: 20px 30px;
  }
  .brandTitleDiv {
    margin-top: 10px !important;
  }
  .featureBtn {
    margin-top: 10px;
    margin-right: 2px;
  }
  .featCard {
    margin: 20px 0px !important;
  }
  .casinoBanner {
    margin: 0px;
    height: 540px;
    padding: 20px 30px;
    background-size: cover;
  }
  .casinoTitle {
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 28px;
  }
  .complbtn {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 14px;
  }
  .casinoBlog {
    margin: 0px 20px 20px;
  }
  .blogBtn {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
  }

  .blogImg{
    width: -webkit-fill-available;
  }
  .blogSection{
    padding: 10px 20px;
  }
  .banner{
    height: 470px;
  }
  .blogMainTitle {
    font-size: 25px;
  }
}
