.container {
  padding: 40px;
  background: #ffffff;
  background-image: url("/icon/signup/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile {
  background: #ffffff;
  padding: 40px;
  border: 1px solid #fafafa;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;  
}

.picture_text {
  padding-top: 10px;
}

.picture_text h4 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 21, 21, 1);
}

.picture_text p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(115, 115, 115, 1);
}

.btnChoosePhoto {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.52px;
  border-radius: 8px;
  background: rgba(21, 21, 21, 1);
  color: rgba(255, 255, 255, 1);
  border: 0px;
}

.btnRemove{
  font-family: Inter;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  border: 0px;
  border-radius: 0px;
  background: none;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(115, 115, 115, 1);  
}

.title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
}

.subtitle {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
}

.profile_form label {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  width: 100%;
  padding: 7px 2px;
}

.profile_form input {
  border: 1px solid #d9d9d9;
  padding: 7px 13px 7px 13px;
  gap: 10px;
  border-radius: 5px;
  width: 100%;
}

.profile_form select {
  border: 1px solid #d9d9d9;
  padding: 7px 13px 7px 13px;
  gap: 10px;
  border-radius: 5px;
  width: 100%;
}

.profile_form textarea {
  border: 1px solid #d9d9d9;
  padding: 7px 13px 7px 13px;
  gap: 10px;
  border-radius: 5px;
  width: 100%;
}

.submitBtn {
  display: flex;
  width: auto;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background-color: rgba(215, 0, 0, 1);    
  border: 0px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 15.73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-right: 10px;
}

.cancelBtn {
  margin-left: auto;
  display: flex;
  width: auto;
  vertical-align: middle;
  align-self: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: right;
  border: 0px;
  border-radius: 0px;
  background: none;
  color: rgba(115, 115, 115, 1);  
}


.alreadyAcc {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #666666;
}

.alreadyAcc a {
  font-weight: bold;
  font-size: 14px;
}

.rowOR {
  border-top: 2px solid rgba(217, 217, 217, 1);
}

.rowOR h3 {
  background: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: auto;
  margin: -10px auto 0px auto;
}

.googleBtn,
.facebookBtn,
.appleBtn {
  padding: 12px 10px 12px 12px;
  gap: 8px;
  border-radius: 5px;
  border: 1px solid rgba(217, 217, 217, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
  line-height: 14.52px;
  text-align: left;
  padding-left: 35%;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 21, 21, 1);
  width: 100%;
}

.image {
  margin: -3px 5px 0px;
}

.info h3 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
  padding-left: 15%;
}

.info img {
  padding: 0px 3px 3px 0px;
}
.actionBtns{
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .profile {
    padding: 20px;
  }
  .picture_img{
    margin: 20px;
  }  
  .picture_text{
    text-align: center;
    padding: 20px;
  }
  .picture_text h4{
    text-align: center;
  }
  .picture_text p{
    text-align: center;
  }
  .actionBtns{
    text-align: center;
  }
  .submitBtn{
    margin-right: auto;
  }
}
