.casinoBanner {
  height: 680px;
  margin: 50px 60px 0px 60px;
  background-image: url("/casinoBanner.svg");
  border-radius: 10px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.quizOneBanner {
  height: 680px;
  margin: 50px 60px 0px 60px;
  background-image: url("/quiz_bg_new1.svg");
  border-radius: 10px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.casinoTitle {
  font-size: 42px;
  color: white;
  padding-top: 120px;
}

.complbtn {
  padding: 10px 30px 10px 30px;
  font-size: 22px;
  letter-spacing: 1px;
  background: #d70000;
  border: none;
  border-radius: 50px;
  margin-top: 145px;
  color: #ffff;
  font-weight: 600;
}
.gameTilte{
  color: white;
    margin-right: 20%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}
.gameOptionRow{
  width: 45%;
  margin: auto;
}
.gameOptionTwoRow{
  width: 60%;
  margin: auto;
}
.gamecardTitle{
  color: white;
    font-size: 15px;
    text-align: left;
    font-weight: 600;
}
.gameTwoTilte{
  color: #fff;
    margin-right: 33%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}
@media only screen and (max-width: 600px) {
  .casinoBanner {
    margin: 0px;
    height: 600px;
    padding: 20px 30px;
    background-size: cover;
  }
  .casinoTitle {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .complbtn {
    margin-top: 30px;
  }
}
