.reviewTags {
  border: 1px solid #FFB8B8;
  padding: 7px 10px;
  border-radius: 50px;
  font-size: 14px;
  color: #D70000;
}

.reviewTagspac {
  border: 1px solid #FFB8B8;
  padding: 7px 10px;
  border-radius: 50px;
  font-size: 14px;
  color: #D70000;
  margin-left: 5px;

}

.reviewDev {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainTitle {
  font-size: 42px;
  font-weight: 600;
}

.colum {
  padding: 30px !important;
  width: 25%;
  font-size: 14px;
}

.ReviewRow {
  margin: 40px 80px;
  background-image: url("/detail_bg.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.cardBg {
  background-color: #F9F9F9;
  border-radius: 20px;
}

.cardRow {
  padding: 20px;
}

.visitBtn {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  background: #D70000;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 20px;
}

.stakeInnerSec {
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  padding: 27px;
}

.stakeBonusParagh {
  font-size: 20px;
  font-weight: 700;
}

.claimBtn {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  background: #000;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.mainDiv {
  border: 1px solid #DFDFDF;
  height: 920px;
  border-radius: 20px;
  padding: 40px 40px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.childDev {
  border: 1px solid #DFDFDF;
  height: 200px;
  border-radius: 20px;
}

.percentDev {
  padding: 40px 110px;
  text-align: center;
  line-height: 0px;
}

.overviewBtn {
  width: 10%;
  padding: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #151515;
  color: white;
  border: none;
  margin-left: 45px;
  font-size: 17px;
  font-weight: 700;
  position: relative;
  top: 40px;
}

.ratingSec {
  padding: 10px 25px 0px 25px;
}

.ratingCopSec {
  padding: 5px 25px;
}

.ratHeading {
  font-size: 20px;
  font-weight: 700;
}

.lightParagh {
  font-size: 17px;
  color: #737373;
}

@media only screen and (max-width: 600px) {
  .ReviewRow {
    margin: 40px 20px;
  }

  .mainTitle {
    font-size: 30px;
  }

  .overviewBtn {
    width: 40%;
    padding: 10px;
    margin-left: 23px;
  }

  .percentDev {
    padding: 40px 30px;
  }

  .mainDiv {
    height: 1450px;
  }
}